
<div class="container" style="margin-left:0">
    <div class="row">
        
        <% if (login == true) { %>
        <form action="/register" method="POST">
        <% } else { %>
        <form action="#" method="POST">
        <% } %>
        <div style="position: relative;">
            <img src="/images/wsc_v_resized.png" alt="winforsys" usemap="#seatmap">
            <!-- <img src="/images/wsc_v_resized.png" alt="winforsys" usemap="#seatmap" style="width: 2267px;"> -->
            <!-- <img src="/images/wsc_v_resized.png" alt="winforsys" usemap="#seatmap" style="width: 1024px;"> -->

            <button type="button" style="position: absolute; top: 374px; left: 1345px" class="DKEC" name="btn">한창숙</button>

            <button type="button" style="position: absolute; top: 160px; left: 1345px" class="DKEC" name="btn">이성진</button>
            <button type="button" style="position: absolute; top: 224px; left: 1345px" class="DKEC" name="btn">남보현</button>
            <button type="button" style="position: absolute; top: 285px; left: 1345px" class="DKEC" name="btn">오정은</button>

            <button type="button" style="position: absolute; top: 94px; left: 1441px" class="SpnsDept" name="btn">이재윤</button>
            <button type="button" style="position: absolute; top: 160px; left: 1441px" class="SpnsDept" name="btn">홍의민</button>
            <button type="button" style="position: absolute; top: 224px; left: 1441px" class="DKEC" name="btn">김태훈</button>
            <button type="button" style="position: absolute; top: 285px; left: 1441px" class="DKEC" name="btn">이현민</button>            
            
            <button type="button" style="position: absolute; top: 94px; left: 1550px" class="DKEC" name="btn">김현지</button>
            <button type="button" style="position: absolute; top: 197px; left: 1550px" class="ManagementDept" name="btn">박용순</button>
            <button type="button" style="position: absolute; top: 295px; left: 1550px" class="BusinessDept" name="btn">곽효진</button>

            <button type="button" style="position: absolute; top: 376px; left: 1586px" class="ManagementDept" name="btn">이동률</button>

            <button type="button" style="position: absolute; top: 94px; left: 1675px" class="ManagementDept" name="btn">김해연</button>
            <button type="button" style="position: absolute; top: 197px; left: 1675px" class="ManagementDept" name="btn">지경민</button>
            
            <!--
            <div style="position: absolute; top: 100px; left: 1385px; color:#fd6a1c; font-weight:700; font-size:40px; font-family:맑은 고딕; letter-spacing:-3px; line-height:1.6; padding:0px 15px 5px 10px">
            고   &nbsp;  정   &nbsp;  석
            </div>
            <div style="position: absolute; top: 100px; left: 1610px; color:#fd6a1c; font-weight:700; font-size:40px; font-family:맑은 고딕; letter-spacing:-3px; line-height:1.6; padding:0px 15px 5px 10px">
            고   &nbsp;  정   &nbsp;  석
            </div>
            -->

            <% include occupied_pos %>
        
        </div>
        </form>

        <% include map %>

    </div>

    <hr>

    <footer>
    <p>&copy; 2016 Winforsys Co., Ltd.</p>
    </footer>
</div> <!-- /container -->

