
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" style="margin-left:0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Seating Chart</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <% include login %>
    </div><!--/.nav-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron" style="margin-bottom:0; padding-bottom:15px; padding-top:15px">
    <h1>윈포시스 및 DKEC 임직원 자리 현황</h1>
        <p>&nbsp;&nbsp;출근 시 점유한 좌석 위치를 등록해 주세요.</p>

        <!-- Add by cyberccs 2016-10-06 팀 버튼에 애니메이션 추가-->
        <!-- type="button" -> type="submit"-->
        <input type="submit"  style="width:45pt;" class="SmesDept" name="btn" value = 'SMES'></input>
        <input type="submit"  style="width:45pt;" class="SupportDept" name="btn" value = '해외'></input>
        <input type="submit"  style="width:45pt;" class="ResearchDept" name="btn" value = '연구소'></input>
        <input type="submit"  style="width:45pt;" class="DKEC" name="btn" value = 'DKEC'></input>
        <input type="submit"  style="width:45pt;" class="PlanningDept" name="btn" value = '기획실'></input>
        <input type="submit"  style="width:45pt;" class="BusinessDept" name="btn" value = '영업부'></input>
        <input type="submit"  style="width:45pt;" class="AlphaDept" name="btn" value = 'ALPHA'></input>
        <input type="submit"  style="width:45pt;" class="SpnsDept" name="btn" value = 'SP&S'></input>
        <!-- <input type="submit"  style="width:45pt;" class="DniDept" name="btn" value = 'D&I'></input> -->
        <input type="submit"  style="width:45pt;" class="VisionDept" name="btn" value = 'VISION'></input>
        <input type="submit"  style="width:45pt;" class="FdsDept" name="btn" value = 'FDS'></input>
        <input type="submit"  style="width:45pt;" class="SapsDept" name="btn" value = 'SAPS'></input>
        <input type="submit"  style="width:45pt;" class="CmsDept" name="btn" value = 'CMS'></input>
        <input type="submit"  style="width:45pt;" class="ManagementDept" name="btn" value = '경지부'></input>
        <input type="submit"  style="width:45pt;" class="D4rDept" name="btn" value = 'D4R'></input>
        <input type="submit"  style="width:45pt;" class="SpiderDept" name="btn" value = 'SPIDER'></input>
        <input type="submit"  style="width:45pt;" class="AtiDept" name="btn" value = 'ATi'></input>
        <input type="submit"  style="width:45pt;" class="SFAIntern" name="btn" value = '인턴'></input>
        <!--
        <button type="button" class="SmesDept" name="btn">SMES</button> 
        <button type="button" class="SupportDept" name="btn">해외</button>
        <button type="button" class="ResearchDept" name="btn">연구소</button>
        <button type="button" class="DKEC" name="btn">DKEC</button>
        <button type="button" class="PlanningDept" name="btn">기획실</button>
        <button type="button" class="BusinessDept" name="btn">영업부</button>
        <button type="button" class="AlphaDept" name="btn">ALPHA</button>
        <button type="button" class="SpnsDept" name="btn">SP&S</button>
        <button type="button" class="DniDept" name="btn">D&I</button>
        <button type="button" class="VisionDept" name="btn">VISION</button>
        <button type="button" class="FdsDept" name="btn">FDS</button>
        <button type="button" class="SapsDept" name="btn">SAPS</button>
        <button type="button" class="CmsDept" name="btn">CMS</button>
        <button type="button" class="ManagementDept" name="btn">경지부</button>
        <button type="button" class="DesignDept" name="btn">디자인</button>
        <button type="button" class="SpiderDept" name="btn">SPIDER</button>
        -->

    <!-- <div class="container" style="margin-left:0">
        
    </div> -->
</div>