
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" style="margin-left:0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Seating Chart</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <% include login %>
    </div><!--/.nav-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron" style="margin-bottom:0; padding-bottom:30px; padding-top:30px">
    <div class="container" style="margin-left:0">
    <h1>윈포시스 및 DKEC 임직원 자리 현황</h1>
    <p>출근 시 점유한 좌석 위치를 등록해 주세요.</p>
    <button type="button" class="SmesDept" name="btn">SMES</button> 
    <button type="button" class="SupportDept" name="btn">해외</button>
    <button type="button" class="ResearchDept" name="btn">연구소</button>
    <button type="button" class="DKEC" name="btn">DKEC</button>
    <button type="button" class="PlanningDept" name="btn">기획실</button>
    <button type="button" class="BusinessDept" name="btn">영업부</button>
    <button type="button" class="AlphaDept" name="btn">ALPHA</button>
    <button type="button" class="SpnsDept" name="btn">SP&S</button>
    <button type="button" class="DniDept" name="btn">D&I</button>
    <button type="button" class="VisionDept" name="btn">VISION</button>
    <button type="button" class="FdsDept" name="btn">FDS</button>
    <button type="button" class="SapsDept" name="btn">SAPS</button>
    <button type="button" class="CmsDept" name="btn">CMS</button>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">View details &raquo;</a></p> -->
    </div>
</div>